$dark_purple: #5D2844	;
$soft_black: #242424;
$shadow_black: #000;
$dark_gray: #6A6C6F;
$light_gray: #F1F3F6;
$dark_blue: #0C5B75;
$dark_orange: #FDB515;

.bg-purple {
	background-color: $dark_purple;
}

.bg-black {
	background-color: $soft_black;
}

.bg-grey {
	background-color: $background_gray;
}

.bg-blue {
	background-color: $dark_blue;
}

#colors {
  li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em;

    p {
      position: absolute;
      padding: 3px 13px;
      color: $soft_black;
      background-color: #fff;
      font-size: 12px;
      bottom: 0;
      left: 0.9375em;
    }
    .color {
      height: 120px;
      margin-right: 0.9375em;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}